/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}
body {
	background-image: url('static/src/1.png');
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}
*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 22px;
	width:100%;
	height: 100%;

}


.global-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:30px;
	width:100%;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding:22px;
}

.inputdiv{
	width: 100%;
	max-width: 500px;
	display: inline-flex;
	height: 65px;
	justify-content: center;
	align-items: center;
	background-color: snow;
	padding: 8px;
	border-radius: 12px;
	position: fixed;
	top:10px;
	gap: 12px;
	border:3px solid #F0F8FF;
	box-shadow: 2Px 3px 4px rgba(0, 0, 0, .25);
}

.level{
	border:none;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	font-size: 1.2rem;
	border-radius: 16px;
	padding-left:10px;
	outline: none;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-color: lightblue;
	}
.leveldiv{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 32px;
}

.leveldiv p{
	text-align: center;
	font-size: 1.2rem;
	font-weight: 1.3rem;

}


.inputdiv img{
	width: 35px;
	height: 35px;
	padding:4px;
}

.inputdiv input{
	width:100%;
	height: 100%;
	border:none;
	outline: none;
	padding-left:8px;
	background-color: transparent;
	font-size:1.4rem;
}

.table-item{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 24px 2px;
	background-color: #fff;
	cursor: pointer;
	width: 100%;
	gap:8px;
	margin: 20px;
	font-size: 1.4rem;
	border-radius:10px;
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	margin:12px;
}

.table-item:nth-child(odd){
	background:#F0F8FF;
}

.container-img{
	display: flex;
	align-items: center;
}

.container-img img{
	width:30px;
	border-radius: 999px;
	margin-right: 10px;
}

.table .container-img, p{
	padding: 0 15px;
}

.default-content{
	margin:30%, 30%, 30%;
	width: 90%;
	height: 90%;
}
@media screen and (max-width: 700px){

	.table-item{
		flex-direction: column;
		height: auto;
		text-align: center;
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		padding: 24px 4px;
		margin: 20px;
		margin-bottom: 50px;
		width: 100%;
		max-width: 400px;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.2rem;
		border-radius:10px;
		text-align: center;
	}

	a{
		display: flex;
		flex-direction: column;
		padding:22px;
		width: 80%;

	}

	.global-container{
		margin-left: 14px;
	}
	.inputdiv{
		margin-left: 12px;
		max-width: 300px;
	}
}

